@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600&family=Open+Sans&display=swap');

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance:none;
    appearance:none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: whitesmoke;
    background-image: none;
    flex: 1;
    padding: 0.5rem;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}
select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20rem;
    height: 3rem;
    line-height: 3;
    background:whitesmoke ;
    overflow:hidden;
    border-radius: 8px;
 
}
.select::after{
    content: '\25bc';
    position: absolute;
    top:0;
    right: 0;
    padding: 0.3rem;
    cursor: pointer;
    background:#ff3847 ;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #75c7fb;
}

button a {
    text-decoration: none;
    color: #233e54;
    font-weight: bolder;
    margin-top: 2rem;
}
 
button {
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.buttons button:hover {
    background: #75c7fb;
}


.signUp {

    margin-top:5%;
    margin-left:38%;


}