@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* ============ Start Variables ============ */
:root {
  /* White HUW/HSL Scale */
  --color-white-100: hsl(0, 0%, 100%);
  --color-white-200: hsl(0, 0%, 90%);
  --color-white-300: hsl(0, 0%, 80%);
  --color-white-400: hsl(0, 0%, 70%);

  /* Gray HUE/HSL Scale */
  --color-gray-100: hsl(0, 0%, 60%);
  --color-gray-200: hsl(0, 0%, 50%);
  --color-gray-300: hsl(0, 0%, 40%);
  --color-gray-400: hsl(0, 0%, 30%);
  --color-gray-500: hsl(0, 0%, 20%);

  /* Black HUE/HSL Scale */
  --color-black-100: hsl(0, 0%, 15%);
  --color-black-200: hsl(0, 0%, 10%);
  --color-black-300: hsl(0, 0%, 5%);

  /* Red HUE/HSL Scale */
  --color-red-100: hsl(0, 70%, 60%);
  --color-red-200: hsl(0, 70%, 50%);
  --color-red-300: hsl(0, 70%, 40%);
  --color-red-400: hsl(0, 70%, 30%);
  --color-red-500: hsl(0, 70%, 20%);
  --color-red-600: hsl(0, 70%, 10%);

  /* Green HUE/HSL Scale */
  --color-green-100: hsl(150, 50%, 70%);
  --color-green-200: hsl(150, 50%, 60%);
  --color-green-300: hsl(150, 50%, 50%);
  --color-green-400: hsl(150, 50%, 40%);
  --color-green-500: hsl(150, 50%, 30%);
  --color-green-600: hsl(150, 50%, 20%);
  --color-green-700: hsl(150, 50%, 10%);
  --color-green-800: hsl(150, 50%, 05%);

  /* Blue HUE/HSL Scale */
  --color-blue-100: hsl(215, 90%, 70%);
  --color-blue-200: hsl(215, 90%, 60%);
  --color-blue-300: hsl(215, 90%, 50%);
  --color-blue-400: hsl(215, 90%, 40%);
  --color-blue-500: hsl(215, 90%, 30%);
  --color-blue-600: hsl(215, 90%, 20%);
  --color-blue-700: hsl(215, 90%, 10%);

  /* Yellow HUE/HSL Scale */
  --color-yellow-100: hsl(50, 90%, 80%);
  --color-yellow-200: hsl(50, 90%, 70%);
  --color-yellow-300: hsl(50, 90%, 60%);
  --color-yellow-400: hsl(50, 90%, 50%);
  --color-yellow-500: hsl(50, 90%, 40%);
  --color-yellow-600: hsl(50, 90%, 30%);
  --color-yellow-700: hsl(50, 90%, 20%);
  --color-yellow-800: hsl(50, 90%, 10%);
  --color-yellow-900: hsl(50, 90%, 05%);

  /* Orange HUE/HSL Scale */
  --color-orange-100: hsl(20, 99%, 80%);
  --color-orange-200: hsl(20, 99%, 70%);
  --color-orange-300: hsl(20, 99%, 60%);
  --color-orange-400: hsl(20, 99%, 50%);
  --color-orange-500: hsl(20, 99%, 40%);
  --color-orange-600: hsl(20, 99%, 30%);
  --color-orange-700: hsl(20, 99%, 20%);
  --color-orange-800: hsl(20, 99%, 10%);
  --color-orange-900: hsl(20, 99%, 05%);

  /* Purple HUE/HSL Scale */
  --color-purple-100: hsl(270, 90%, 80%);
  --color-purple-200: hsl(270, 90%, 70%);
  --color-purple-300: hsl(270, 90%, 60%);
  --color-purple-400: hsl(270, 90%, 50%);
  --color-purple-500: hsl(270, 90%, 40%);
  --color-purple-600: hsl(270, 90%, 30%);
  --color-purple-700: hsl(270, 90%, 20%);
  --color-purple-800: hsl(270, 90%, 10%);

  /* Beige HUE/HSL Scale */
  --color-beige-100: hsl(90, 90%, 90%);

  /* Text Colors */
  --text-color-blue: var(--color-blue-100);
  --text-color-white: var(--color-white-100);
  --text-color-black: var(--color-black-300);
  --text-color-green: var(--color-green-700);
  --text-color-purple: var(--color-purple-600);
  --text-color-orange: var(--color-orange-500);

  /* Background Color */
  --bg-color-blue: var(--color-blue-100);
  --bg-color-beige: var(--color-beige-100);
  --bg-color-white: var(--color-white-100);
  --bg-color-black: var(--color-black-100);
  --bg-color-green: var(--color-green-500);
  --bg-color-orange: var(--color-orange-100);

  /* Cores da Marca */
  --bg-color-primary: var(--color-blue-100);
  --bg-color-secondary: var(--color-orange-200);
  --bg-color-complementary: var(--color-green-300);

  --text-color-danger: var(--color-red-200);
  --text-color-primary: var(--color-blue-200);
  --text-color-success: var(--color-green-300);
  --text-color-warning: var(--color-yellow-500);

}

/* ============ End Variables ============ */

/* START MOBILE FIRST */

/* ========= Start Typography ========= */

body {
  font-family: "Open Sans", sans-serif !important;
}

.title {
  font-family: "Lilita One", cursive !important;
}

.subtitle {}

.text {}

.text-small {}

/* ========= End Typography ========= */

/* ========= Start NavBar Style ========= */

.navbar-container {
  background-color: var(--bg-color-primary);
}

.navbar {
  display: flex;
  padding: 0rem 1rem !important;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-brand {
  margin: 1rem 0 !important;
  padding: 0 !important;
  min-width: fit-content;
}

.navbar-brand>.img-brand {
  width: calc(100px + 15vw);
}

.nav {
  margin: 1rem 0 !important;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  width: 50%;
}

.navbar-link {
  color: var(--text-color-black-100) !important;
}

.navbar-link:hover {
  color: var(--text-color-orange) !important;
}

.btn-signup {
  color: var(--text-color-green) !important;
  border: .5px solid var(--bg-color-green) !important;
  margin: 1rem 0;
}

.btn-signup:hover {
  color: var(--text-color-white) !important;
  background-color: var(--bg-color-green) !important;
}

/* ========= End NavBar Style ========= */

/* ========= Start Main Content Style ========= */

.main-container {
  width: 100%;
  height: 100vmin;
  background-color: var(--bg-color-beige);
}

.video-container {
  margin: 0rem -1rem 0rem -1rem;
  padding: 28%;
  position: relative;
}

.video {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  cursor: pointer;
  position: absolute;
  border-radius: .3rem;
}

.form-container {
  width: 100%;
  margin: .5rem 0;
}

/* ========= End Main-Container Style ========= */

/* ========= Start Footer Style ========= */

.footer-container {
  width: 100%;
  margin: 0;
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-blue);
}

.btn-link,
.footer-container>p>a {
  color: var(--text-color-purple);
  text-decoration: none !important;
}

.btn-link:hover,
.footer-container>p>a:hover {
  color: var(--text-color-orange);
}

/* ========= End Footer Style ========= */

/* START DESKTOP STYLE */
@media screen AND (min-width: 700px) {

  /* Media Query for 700dp and up devices width */
  .form-container {
    width: 50%;
  }
}